
.main {
    display: flex; 
    justify-content: center;
    background-color: rgb(161, 194, 232);

  }
  .container {
    justify-content: center;
    background-color: rgb(105, 162, 226);

  }


h1{

    text-align: center;
}
p{

    text-align: center;
}


#image{
    background-color: azure;
    max-height: 100%;
    max-width: 100%;
   
    display: block;

}


ul{

    text-align: center;
}
